<!-- =========================
       HEADER
  ========================== -->

<header class="main-header">
  <!-- 1번째 줄 -->
  <div class="header-row">
    <!-- 왼쪽 영역 -->
    <div class="header-left">
      <a href="./index.html" class="logo">
        <img src="./img/logo.png" alt="밀리의서재 로고" />

        <span class="logo-text"> 밀리의서재 </span>
      </a>

      <nav class="main-menu">
        <a href="#" class="active">투데이</a>

        <a href="#" class="webtoon">
          웹툰웹소
          <span class="new-dot"></span>
        </a>

        <a href="#">검색</a>
        <a href="#">피드</a>
        <a href="#">내서재</a>
        <a href="#">관리</a>
      </nav>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="header-right">
      <button class="icon-btn">♧</button>

      <button class="icon-btn menu-btn">☰</button>

      <a href="#" class="join"> 회원가입 </a>

      <button class="login-btn">로그인</button>
    </div>
  </div>

  <!-- 2번째 줄 -->
  <div class="sub-header">
    <div class="sub-menu">
      <a href="#">10주년</a>

      <a href="#" class="sub-active"> NOW </a>

      <a href="#">밀리로드</a>

      <a href="#">오디오북</a>

      <a href="#"> ✦ AI발견 </a>

      <a href="#" class="bold-menu"> 밀리플레이스 </a>
    </div>
  </div>
</header>
